body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    background-color: whitesmoke;
}

h1 {
    margin-top: 40px;
}

.card {
    display: flex;
    flex-direction: column;
    margin: 100px;
    margin-top: 40px;
    padding: 6px;
    width: 500px;
    height: 480px;
    border-style: solid;
    border-radius: 18px;
    border-width: 2px;
    background-color: #4F6F52;
}

.display {
    display: flex;
    justify-content: flex-end;
    padding-right: 8px;
    margin: 30px 15px 30px 15px;
    font-size: 56px;
    border-style: solid;
    border-radius: 8px;
    background-color: white;
}

.buttons {
    display: flex;
    flex-direction: column;
    margin: 30px 15px 30px 15px;
    margin-top: 0px;
}

.row {
    display: flex;
}

button {
    margin: 4px;
    flex-basis: 20px;
    flex-grow: 1;
    height: 75px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    font-weight: 700;
    background-color: #fab253;
    border-radius: 8px;
}

.num {
    background-color: #D2E3C8;
}

#n0 {
    flex-grow: 2;
    flex-basis: 40px;
}

#equals {
    flex-grow: 2;
    flex-basis: 40px;
}